---
import cultures from "../../data/cultures.json";
import mushrooms from "../../data/mushrooms.json";
import medicinals from "../../data/medicinals.json";
import gourmets from "../../data/gourmets.json";

const colorOne = "yellow-200";
---

<div class="flex flex-col justify-center items-center p-4 my-5 gap-12">
  <div
    class="flex flex-col justify-center items-center w-full max-w-2xl border-l border-b border-yellow-200"
  >
    <div class="flex flex-col justify-start items-start w-full">
      <div
        class="relative h-16 flex md:max-w-2xl sm:max-w-sm md:w-[48rem] w-full"
      >
        <div
          class="absolute left-0 flex justify-center md:w-[19rem] w-[13rem] md:text-4xl text-2xl font-bold text-slate-800 p-2 bg-yellow-200"
        >
          Liquid Cultures
        </div>
      </div>
    </div>
    <ul
      class="md:px-6 !m-0 px-0 flex flex-col max-w-xl w-full md:text-2xl text-md text-slate-300"
    >
      {
        cultures.map(({ name, dose, price }) => (
          <li class="flex w-full max-w-xl justify-between">
            <div class="p-1">
              {name}
              <span class="flex items-center justify-center text-sm">{`(${dose} syringe${
                dose != "1" ? "s" : ""
              })`}</span>
            </div>
            <div class="p-1 pr-3">{`$${price}`}</div>
          </li>
        ))
      }
    </ul>
  </div>
  <div
    class="flex flex-col justify-center items-center w-full max-w-2xl border-r border-b border-green-200"
  >
    <div class="flex flex-col justify-end items-end w-full">
      <div
        class="relative h-24 flex md:max-w-2xl sm:max-w-sm md:w-[48rem] w-full"
      >
        <div
          class="absolute flex justify-center md:w-[15rem] w-[11rem] right-0 md:text-4xl text-2xl font-bold text-slate-800 p-2 bg-green-200"
        >
          Mushrooms
        </div>
        <div class="absolute top-14 right-2 text-md font-semibold">
          Priced per lbs
        </div>
      </div>
    </div>
    <ul
      class="md:px-6 !m-0 px-0 flex flex-col max-w-xl w-full md:text-2xl text-md text-slate-300"
    >
      {
        mushrooms.map(({ name, price }) => (
          <li class="flex w-full max-w-xl justify-between">
            <div class="p-1">{name}</div>
            <div class="p-1 pr-3">{`$${price}`}</div>
          </li>
        ))
      }
    </ul>
  </div>

  <div
    class="flex flex-col justify-center items-center w-full max-w-2xl border-l border-b border-blue-200"
  >
    <div class="flex flex-col justify-start items-start w-full">
      <div
        class="relative h-24 flex md:max-w-2xl sm:max-w-sm md:w-[48rem] w-full"
      >
        <div
          class="absolute flex justify-center md:w-[23rem] w-[16rem] left-0 md:text-4xl text-2xl font-bold text-slate-800 p-2 bg-blue-200"
        >
          Medicinal Products
        </div>
        <div class="absolute top-14 left-2 text-md font-semibold">
          Priced per lbs
        </div>
      </div>
    </div>
    <ul
      class="md:px-6 !m-0 px-0 flex flex-col max-w-xl w-full md:text-2xl text-md text-slate-300"
    >
      {
        medicinals.map(({ name, dose, price }) => (
          <li class="flex w-full max-w-xl justify-between">
            <div class="p-1">
              {name}
              <span class="flex items-center justify-center text-sm">{`(${dose} days)`}</span>
            </div>
            <div class="p-1 pr-3">{`$${price}`}</div>
          </li>
        ))
      }
    </ul>
  </div>

  <div
    class="flex flex-col justify-center items-center w-full max-w-2xl border-r border-b border-red-200"
  >
    <div class="flex flex-col justify-start items-start w-full">
      <div
        class="relative h-16 flex md:max-w-2xl sm:max-w-sm md:w-[48rem] w-full"
      >
        <div
          class="absolute flex justify-center md:w-[24rem] w-[17rem] right-0 md:text-4xl text-2xl font-bold text-slate-800 p-2 bg-red-200"
        >
          Gourmet Specialties
        </div>
      </div>
    </div>
    <ul
      class="md:px-6 !m-0 px-0 flex flex-col max-w-xl w-full md:text-2xl text-md text-slate-300"
    >
      {
        gourmets.map(({ name, price }) => (
          <li class="flex w-full max-w-xl justify-between">
            <div class="p-1">{name}</div>
            <div class="p-1 pr-3">{`$${price}`}</div>
          </li>
        ))
      }
    </ul>
  </div>
  <span class="flex justify-center text-3xl font-bold">More coming soon!</span>
</div>
